# Maji Ndogo: From analysis to action
## Clustering data to unveil Maji Ndogo's water crisis

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:l1p00l2020@127.0.0.1:3306/md_water_services

Cleaning our data
Ok, bring up the employee table. It has info on all of our workers, but note that the email addresses have not been added. We will have to send
them reports and figures, so let's update it. Luckily the emails for our department are easy: first_name.last_name@ndogowater.gov.

In [5]:
%%sql
SELECT *
FROM employee
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[(0, 'Amara Jengo', '+99637993287 ', None, '36 Pwani Mchangani Road', 'Sokoto', 'Ilanga', 'Field Surveyor'),
 (1, 'Bello Azibo', '+99643864786 ', None, '129 Ziwa La Kioo Road', 'Kilimani', 'Rural', 'Field Surveyor'),
 (2, 'Bakari Iniko', '+99222599041 ', None, '18 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'Field Surveyor'),
 (3, 'Malachi Mavuso', '+99945849900 ', None, '100 Mogadishu Road', 'Akatsi', 'Lusaka', 'Field Surveyor'),
 (4, 'Cheche Buhle', '+99381679640 ', None, '1 Savanna Street', 'Akatsi', 'Rural', 'Field Surveyor')]

In [6]:
%%sql
UPDATE employee
SET email = 
            CONCAT(LOWER(REPLACE(employee_name, ' ', '.')), '@ndogowater.gov')

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
56 rows affected.

[]

In [7]:
%%sql
SELECT * FROM employee;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
56 rows affected.

[(0, 'Amara Jengo', '+99637993287 ', 'amara.jengo@ndogowater.gov', '36 Pwani Mchangani Road', 'Sokoto', 'Ilanga', 'Field Surveyor'),
 (1, 'Bello Azibo', '+99643864786 ', 'bello.azibo@ndogowater.gov', '129 Ziwa La Kioo Road', 'Kilimani', 'Rural', 'Field Surveyor'),
 (2, 'Bakari Iniko', '+99222599041 ', 'bakari.iniko@ndogowater.gov', '18 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'Field Surveyor'),
 (3, 'Malachi Mavuso', '+99945849900 ', 'malachi.mavuso@ndogowater.gov', '100 Mogadishu Road', 'Akatsi', 'Lusaka', 'Field Surveyor'),
 (4, 'Cheche Buhle', '+99381679640 ', 'cheche.buhle@ndogowater.gov', '1 Savanna Street', 'Akatsi', 'Rural', 'Field Surveyor'),
 (5, 'Zuriel Matembo', '+99034075111 ', 'zuriel.matembo@ndogowater.gov', '26 Bahari Ya Faraja Road', 'Kilimani', 'Rural', 'Field Surveyor'),
 (6, 'Deka Osumare', '+99379364631 ', 'deka.osumare@ndogowater.gov', '104 Kenyatta Street', 'Akatsi', 'Rural', 'Field Surveyor'),
 (7, 'Lalitha Kaburi', '+99681623240 ', 'lalitha.kaburi@ndogowater.gov', '145 Sungura Amanpour Road', 'Kilimani', 'Rural', 'Field Surveyor'),
 (8, 'Enitan Zuri', '+99248509202 ', 'enitan.zuri@ndogowater.gov', '117 Kampala Road', 'Hawassa', 'Zanzibar', 'Field Surveyor'),
 (10, 'Farai Nia', '+99570082739 ', 'farai.nia@ndogowater.gov', '33 Ang√©lique Kidjo Avenue', 'Amanzi', 'Dahabu', 'Field Surveyor'),
 (12, 'Gamba Shani', '+99438283153 ', 'gamba.shani@ndogowater.gov', '38 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'Field Surveyor'),
 (14, 'Harith Nyota', '+99917230124 ', 'harith.nyota@ndogowater.gov', '42 Malabo Drive', 'Kilimani', 'Rural', 'Field Surveyor'),
 (16, 'Isoke Amani', '+99313603182 ', 'isoke.amani@ndogowater.gov', '55 Fennec Way', 'Sokoto', 'Rural', 'Field Surveyor'),
 (18, 'Jengo Tumaini', '+99820596465 ', 'jengo.tumaini@ndogowater.gov', '17 Port Harcourt Boulevard', 'Akatsi', 'Kintampo', 'Field Surveyor'),
 (20, 'Kunto Asha', '+99176320477 ', 'kunto.asha@ndogowater.gov', '30 Nyoka Achebe Street', 'Amanzi', 'Dahabu', 'Field Surveyor'),
 (22, 'Lesedi Kofi', '+99611183730 ', 'lesedi.kofi@ndogowater.gov', '52 Moroni Avenue', 'Sokoto', 'Rural', 'Field Surveyor'),
 (24, 'Makena Thabo', '+99690308755 ', 'makena.thabo@ndogowater.gov', '81 Rhodes Street', 'Hawassa', 'Rural', 'Field Surveyor'),
 (26, 'Nia Furaha', '+99522694997 ', 'nia.furaha@ndogowater.gov', '51 Addis Ababa Road', 'Akatsi', 'Harare', 'Field Surveyor'),
 (28, 'Ona Sefu', '+99797494944 ', 'ona.sefu@ndogowater.gov', '67 Wimbi Dira Avenue', 'Akatsi', 'Harare', 'Field Surveyor'),
 (30, 'Pili Zola', '+99822478933 ', 'pili.zola@ndogowater.gov', '46 Stone Town Street', 'Hawassa', 'Zanzibar', 'Field Surveyor'),
 (32, 'Quibilah Akua', '+99533195846 ', 'quibilah.akua@ndogowater.gov', '77 Kinshasa Boulevard', 'Sokoto', 'Rural', 'Field Surveyor'),
 (34, 'Rudo Imani', '+99046972648 ', 'rudo.imani@ndogowater.gov', '15 Lake Malawi Avenue', 'Kilimani', 'Ilanga', 'Field Surveyor'),
 (36, 'Sanaa Tendaji', '+99477692836 ', 'sanaa.tendaji@ndogowater.gov', '88 Elephantine Boulevard', 'Amanzi', 'Dahabu', 'Field Surveyor'),
 (38, 'Thandiwe Kito', '+99895654233 ', 'thandiwe.kito@ndogowater.gov', '106 Dakar Road', 'Hawassa', 'Zanzibar', 'Field Surveyor'),
 (40, 'Usafi Ayo', '+99613194771 ', 'usafi.ayo@ndogowater.gov', '76 Kenyatta Street', 'Sokoto', 'Rural', 'Field Surveyor'),
 (42, 'Vuyisile Kwame', '+99489752164 ', 'vuyisile.kwame@ndogowater.gov', '1 Zambezi Way', 'Kilimani', 'Rural', 'Field Surveyor'),
 (44, 'Wambui Jabali', '+99269319001 ', 'wambui.jabali@ndogowater.gov', '31 Mandela Road', 'Hawassa', 'Rural', 'Field Surveyor'),
 (46, 'Xola Uzuri', '+99239172440 ', 'xola.uzuri@ndogowater.gov', '50 Enkare Narok Avenue', 'Amanzi', 'Dahabu', 'Field Surveyor'),
 (48, 'Yewande Ebele', '+99239164858 ', 'yewande.ebele@ndogowater.gov', '119 Moroni Avenue', 'Hawassa', 'Rural', 'Field Surveyor'),
 (49, 'Nadia Zalika', '+99578401238 ', 'nadia.zalika@ndogowater.gov', '26 Bahari Ya Faraja Road', 'Kilimani', 'Rural', 'Project Manager'),
 (50, 'Ayo Deka', '+99345162378 ', 'ayo.deka@ndogowater.gov', '18 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'UI/UX Designer'),
 (52, 'Bahira Jamila', '+99239271483 ', 'bahira.jamila@ndogowater.gov', '30 Nyoka Achebe Street', 'Amanzi', 'Dahabu', 'Front-end Developer'),
 (53, 'Chidi Kunto', '+99738251476 ', 'chidi.kunto@ndogowater.gov', '146 Okapi Road', 'Hawassa', 'Yaounde', 'Data Analyst'),
 (54, 'Dalila Lesedi', '+99471523698 ', 'dalila.lesedi@ndogowater.gov', '18 Casablanca Road', 'Sokoto', 'Rural', 'Data Analyst'),
 (56, 'Eshe Makena', '+99381254763 ', 'eshe.makena@ndogowater.gov', '45 Umqombothi Avenue', 'Hawassa', 'Serowe', 'Human Resources Specialist'),
 (58, 'Faridah Khalida', '+99142537684 ', 'faridah.khalida@ndogowater.gov', '176 Port Said Street', 'Kilimani', 'Harare', 'Pioneer'),
 (62, 'Gavivi Ona', '+99924513876 ', 'gavivi.ona@ndogowater.gov', '51 Addis Ababa Road', 'Akatsi', 'Harare', 'Financial Analyst'),
 (64, 'Hasani Pili', '+99568247135 ', 'hasani.pili@ndogowater.gov', '33 Afro Beat Road', 'Hawassa', 'Serowe', 'Deputy Project Manager'),
 (68, 'Iniko Quibilah', '+99735681472 ', 'iniko.quibilah@ndogowater.gov', '93 Afro Beat Road', 'Hawassa', 'Serowe', 'Financial Manager'),
 (71, 'Jengo Rudo', '+99317854629 ', 'jengo.rudo@ndogowater.gov', '33 Ang√©lique Kidjo Avenue', 'Amanzi', 'Dahabu', 'Civil Engineer'),
 (73, 'Kofi Sanaa', '+99874512369 ', 'kofi.sanaa@ndogowater.gov', '42 Malabo Drive', 'Kilimani', 'Rural', 'Creative Designer'),
 (75, 'Lulu Thandiwe', '+99127436598 ', 'lulu.thandiwe@ndogowater.gov', '117 Kampala Road', 'Hawassa', 'Zanzibar', 'Team Leader'),
 (79, 'Makena Usafi', '+99583124796 ', 'makena.usafi@ndogowater.gov', '55 Fennec Way', 'Sokoto', 'Rural', 'Quality Assurance Analyst'),
 (81, 'Nia Vuyisile', '+99273841596 ', 'nia.vuyisile@ndogowater.gov', '52 Moroni Avenue', 'Sokoto', 'Rural', 'Civil Engineer'),
 (83, 'Ona Wambui', '+99968217435 ', 'ona.wambui@ndogowater.gov', '81 Rhodes Street', 'Hawassa', 'Rural', 'Public Relations Specialist'),
 (87, 'Pili Xola', '+99682314579 ', 'pili.xola@ndogowater.gov', '31 Samora Machel Road', 'Kilimani', 'Harare', 'Civil Engineer'),
 (89, 'Quibilah Yewande', '+99721534698 ', 'quibilah.yewande@ndogowater.gov', '110 Nyerere Road', 'Kilimani', 'Rural', 'Supervisor'),
 (93, 'Rudo Zalika', '+99578123469 ', 'rudo.zalika@ndogowater.gov', '7 Dakar Drive', 'Akatsi', 'Lusaka', 'Field Engineer'),
 (94, 'Sanaa Ayo', '+99375418692 ', 'sanaa.ayo@ndogowater.gov', '172 Fisi Nkrumah Street', 'Akatsi', 'Rural', 'Data Scientist'),
 (96, 'Thabo Akida', '+99178325649 ', 'thabo.akida@ndogowater.gov', '24 Okonjo-Iweala Street', 'Akatsi', 'Lusaka', 'Engineering Department Head'),
 (98, 'Usafi Bahir', '+99234156789 ', 'usafi.bahir@ndogowater.gov', '1 Savanna Street', 'Akatsi', 'Rural', 'Analytical Chemist'),
 (102, 'Vuyisile Ghadir', '+99712584936 ', 'vuyisile.ghadir@ndogowater.gov', '104 Kenyatta Street', 'Akatsi', 'Rural', 'Micro Biologist'),
 (104, 'Wambui Hadiya', '+99634157892 ', 'wambui.hadiya@ndogowater.gov', '145 Sungura Amanpour Road', 'Kilimani', 'Rural', 'Compliance Officer'),
 (105, 'Xola Inaya', '+99231569847 ', 'xola.inaya@ndogowater.gov', '100 Mogadishu Road', 'Akatsi', 'Lusaka', 'Field Engineer'),
 (108, 'Yewande Jengo', '+99123456978 ', 'yewande.jengo@ndogowater.gov', '25 Selassie Drive', 'Amanzi', 'Rural', 'Construction Manager'),
 (110, 'Zuri Kofi', '+99412356789 ', 'zuri.kofi@ndogowater.gov', '36 Pwani Mchangani Road', 'Sokoto', 'Ilanga', 'Graphic Designer')]

Use TRIM() to write a SELECT query again, make sure we get the string without the space, and then UPDATE the record like you just did for the
emails. If you need more information about TRIM(), Google "TRIM documentation MySQL".

In [9]:
%%sql
UPDATE employee
SET phone_number = 
    TRIM(phone_number)

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
56 rows affected.

[]

Use the employee table to count how many of our employees live in each town. Think carefully about what function we should use and how we
should aggregate the data.

In [11]:
%%sql
SELECT
    town_name,
    COUNT(town_name) AS num_employee
FROM
    employee
GROUP BY
    town_name

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
9 rows affected.

[('Ilanga', 3),
 ('Rural', 29),
 ('Lusaka', 4),
 ('Zanzibar', 4),
 ('Dahabu', 6),
 ('Kintampo', 1),
 ('Harare', 5),
 ('Yaounde', 1),
 ('Serowe', 3)]

Pres. Naledi has asked we send out an email or message congratulating the top 3 field surveyors. So let's use the database to get the
employee_ids and use those to get the names, email and phone numbers of the three field surveyors with the most location visits.

Let's first look at the number of records each employee collected. So find the correct table, figure out what function to use and how to group, order
and limit the results to only see the top 3 employee_ids with the highest number of locations visited.

In [16]:
%%sql
SELECT
    e.assigned_employee_id,
    COUNT(v.visit_count) AS number_of_visits
FROM employee e
INNER JOIN visits v
ON e.assigned_employee_id = v.assigned_employee_id
GROUP BY
    e.assigned_employee_id
ORDER BY number_of_visits DESC
LIMIT 3;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
3 rows affected.

[(1, 3708), (30, 3676), (34, 3539)]

Make a note of the top 3 assigned_employee_id and use them to create a query that looks up the employee's info. Since you're a pro at finding
stuff in a database now, you can figure this one out. You should have a column of names, email addresses and phone numbers for our top dogs.

In [19]:
%%sql
SELECT
    employee_name, phone_number, email
FROM 
    employee
WHERE assigned_employee_id IN (1, 30, 34);

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
3 rows affected.

[('Bello Azibo', '+99643864786', 'bello.azibo@ndogowater.gov'),
 ('Pili Zola', '+99822478933', 'pili.zola@ndogowater.gov'),
 ('Rudo Imani', '+99046972648', 'rudo.imani@ndogowater.gov')]

### Analysing locations
Looking at the location table, let‚Äôs focus on the province_name, town_name and location_type to understand where the water sources are in
Maji Ndogo.

Create a query that counts the number of records per town

In [20]:
%%sql
SELECT
    town_name,
    COUNT(town_name) AS records_per_town
FROM 
    location
GROUP BY
    town_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
25 rows affected.

[('Harare', 1650),
 ('Kintampo', 780),
 ('Lusaka', 1070),
 ('Rural', 23740),
 ('Abidjan', 400),
 ('Amina', 1090),
 ('Asmara', 930),
 ('Bello', 400),
 ('Dahabu', 930),
 ('Pwani', 520),
 ('Deka', 350),
 ('Djenne', 310),
 ('Serowe', 480),
 ('Yaounde', 270),
 ('Zanzibar', 300),
 ('Amara', 710),
 ('Isiqalo', 770),
 ('Mrembo', 990),
 ('Zuri', 750),
 ('Bahari', 470),
 ('Cheche', 370),
 ('Ilanga', 780),
 ('Kofi', 510),
 ('Majengo', 620),
 ('Marang', 460)]

Now count the records per province.

In [23]:
%%sql
SELECT
    province_name,
    COUNT(province_name) AS records_per_province
FROM
    location
GROUP BY
    province_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('Akatsi', 8940),
 ('Amanzi', 6950),
 ('Hawassa', 6030),
 ('Kilimani', 9510),
 ('Sokoto', 8220)]

Can you find a way to do the following:
1. Create a result set showing:
‚Ä¢ province_name
‚Ä¢ town_name
‚Ä¢ An aggregated count of records for each town (consider naming this records_per_town).
‚Ä¢ Ensure your data is grouped by both province_name and town_name.
2. Order your results primarily by province_name. Within each province, further sort the towns by their record counts in descending order.

In [25]:
%%sql
SELECT
    province_name, town_name,
    COUNT(town_name) AS records_per_town
FROM 
    location
GROUP BY
    province_name, town_name
ORDER BY province_name ASC, records_per_town DESC;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
31 rows affected.

[('Akatsi', 'Rural', 6290),
 ('Akatsi', 'Lusaka', 1070),
 ('Akatsi', 'Harare', 800),
 ('Akatsi', 'Kintampo', 780),
 ('Amanzi', 'Rural', 3100),
 ('Amanzi', 'Asmara', 930),
 ('Amanzi', 'Dahabu', 930),
 ('Amanzi', 'Amina', 670),
 ('Amanzi', 'Pwani', 520),
 ('Amanzi', 'Abidjan', 400),
 ('Amanzi', 'Bello', 400),
 ('Hawassa', 'Rural', 3900),
 ('Hawassa', 'Serowe', 480),
 ('Hawassa', 'Amina', 420),
 ('Hawassa', 'Deka', 350),
 ('Hawassa', 'Djenne', 310),
 ('Hawassa', 'Zanzibar', 300),
 ('Hawassa', 'Yaounde', 270),
 ('Kilimani', 'Rural', 5440),
 ('Kilimani', 'Mrembo', 990),
 ('Kilimani', 'Harare', 850),
 ('Kilimani', 'Isiqalo', 770),
 ('Kilimani', 'Zuri', 750),
 ('Kilimani', 'Amara', 710),
 ('Sokoto', 'Rural', 5010),
 ('Sokoto', 'Ilanga', 780),
 ('Sokoto', 'Majengo', 620),
 ('Sokoto', 'Kofi', 510),
 ('Sokoto', 'Bahari', 470),
 ('Sokoto', 'Marang', 460),
 ('Sokoto', 'Cheche', 370)]

Finally, look at the number of records for each location type

In [26]:
%%sql
SELECT
    location_type,
    COUNT(location_type) AS number_sources
FROM
    location
GROUP BY
    location_type;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
2 rows affected.

[('Urban', 15910), ('Rural', 23740)]

## Diving into the sources
Ok, water_source is a big table, with lots of stories to tell, so strap in!

In [27]:
%%sql
SELECT * FROM water_source LIMIT 10;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
10 rows affected.

[('AkHa00000224', 'tap_in_home', 956),
 ('AkHa00001224', 'tap_in_home_broken', 930),
 ('AkHa00002224', 'tap_in_home_broken', 486),
 ('AkHa00003224', 'well', 364),
 ('AkHa00004224', 'tap_in_home_broken', 942),
 ('AkHa00005224', 'tap_in_home', 736),
 ('AkHa00006224', 'tap_in_home', 882),
 ('AkHa00007224', 'tap_in_home', 554),
 ('AkHa00008224', 'well', 398),
 ('AkHa00009224', 'well', 346)]

The way I look at this table; we have access to different water source types and the number of people using each source.
These are the questions that I am curious about.
1. How many people did we survey in total?
2. How many wells, taps and rivers are there?
3. How many people share particular types of water sources on average?
4. How many people are getting water from each type of source?

How many people did we survey in total?

In [28]:
%%sql
SELECT
    SUM(number_of_people_served) AS total_people_surveyed
FROM water_source;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
1 rows affected.

[(Decimal('27628140'),)]

For the second question, we want to count how many of each of the different water source types there are, and remember to sort them.

In [29]:
%%sql
SELECT
    type_of_water_source,
    COUNT(type_of_water_source) AS number_of_sources
FROM
    water_source
GROUP BY
    type_of_water_source;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('tap_in_home', 7265),
 ('tap_in_home_broken', 5856),
 ('well', 17383),
 ('shared_tap', 5767),
 ('river', 3379)]

Ok next up, question 3: What is the average number of people that are served by each water source? Remember to make the numbers easy to
read.

In [31]:
%%sql
SELECT
    type_of_water_source,
    ROUND(AVG(number_of_people_served)) AS avg_people_per_source
FROM
    water_source
GROUP BY
    type_of_water_source;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('tap_in_home', Decimal('644')),
 ('tap_in_home_broken', Decimal('649')),
 ('well', Decimal('279')),
 ('shared_tap', Decimal('2071')),
 ('river', Decimal('699'))]

Now let‚Äôs calculate the total number of people served by each type of water source in total, to make it easier to interpret, order them so the most
people served by a source is at the top.

In [32]:
%%sql
SELECT
    type_of_water_source,
    SUM(number_of_people_served) AS total_people_per_source
FROM
    water_source
GROUP BY
    type_of_water_source
ORDER BY
    total_people_per_source DESC;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('shared_tap', Decimal('11945272')),
 ('well', Decimal('4841724')),
 ('tap_in_home', Decimal('4678880')),
 ('tap_in_home_broken', Decimal('3799720')),
 ('river', Decimal('2362544'))]

It's a little hard to comprehend these numbers, but you can see that one of these is dominating. To make it a bit simpler to interpret, let's use
percentages. First, we need the total number of citizens then use the result of that and divide each of the SUM(number_of_people_served) by
that number, times 100, to get percentages.

Make a note of the number of people surveyed in the first question we answered. I get a total of about 27 million citizens!

Next, calculate the percentages using the total we just got.

In [33]:
%%sql
SELECT SUM(number_of_people_served) AS total_people FROM water_source;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
1 rows affected.

[(Decimal('27628140'),)]

In [34]:
%%sql
SELECT
    type_of_water_source,
    ROUND(((SUM(number_of_people_served)/ 27628140) * 100)) AS percentage_people_per_source
FROM
    water_source
GROUP BY
    type_of_water_source
ORDER BY
    percentage_people_per_source DESC;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('shared_tap', Decimal('43')),
 ('well', Decimal('18')),
 ('tap_in_home', Decimal('17')),
 ('tap_in_home_broken', Decimal('14')),
 ('river', Decimal('9'))]

## Start of a solution
At some point, we will have to fix or improve all of the infrastructure, so we should start thinking about how we can make a data-driven decision
how to do it. I think a simple approach is to fix the things that affect most people first. So let's write a query that ranks each type of source based
on how many people in total use it. RANK() should tell you we are going to need a window function to do this, so let's think through the problem.

In [36]:
%%sql
SELECT
    type_of_water_source,
    SUM(number_of_people_served) AS population_served,
    RANK() OVER(ORDER BY SUM(number_of_people_served) DESC) AS rank_population
FROM
    water_source
GROUP BY
    type_of_water_source;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('shared_tap', Decimal('11945272'), 1),
 ('well', Decimal('4841724'), 2),
 ('tap_in_home', Decimal('4678880'), 3),
 ('tap_in_home_broken', Decimal('3799720'), 4),
 ('river', Decimal('2362544'), 5)]

But think about this: If someone has a tap in their home, they already have the best source available. Since we can‚Äôt do anything more to improve
this, we should remove tap_in_home from the ranking before we continue.

So use a window function on the total people served column, converting it into a rank.

In [38]:
%%sql
SELECT
    type_of_water_source,
    SUM(number_of_people_served) AS population_served,
    RANK() OVER(ORDER BY SUM(number_of_people_served) DESC) AS rank_population
FROM
    water_source
WHERE type_of_water_source != "tap_in_home"
GROUP BY
    type_of_water_source;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
4 rows affected.

[('shared_tap', Decimal('11945272'), 1),
 ('well', Decimal('4841724'), 2),
 ('tap_in_home_broken', Decimal('3799720'), 3),
 ('river', Decimal('2362544'), 4)]

Ok, so we should fix shared taps first, then wells, and so on. But the next question is, which shared taps or wells should be fixed first? We can use
the same logic; the most used sources should really be fixed first.

So create a query to do this, and keep these requirements in mind:
1. The sources within each type should be assigned a rank.
2. Limit the results to only improvable sources.
3. Think about how to partition, filter and order the results set.
4. Order the results to see the top of the list.

In [43]:
%%sql
SELECT
    source_id, type_of_water_source,
    SUM(number_of_people_served) AS number_of_people_served,
    DENSE_RANK() OVER(ORDER BY SUM(number_of_people_served) DESC) AS priority_rank
FROM 
    water_source
WHERE type_of_water_source != "tap_in_home"
GROUP BY
    type_of_water_source, source_id
LIMIT 10;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
10 rows affected.

[('HaRu19509224', 'shared_tap', Decimal('3998'), 1),
 ('AkRu05603224', 'shared_tap', Decimal('3998'), 1),
 ('AkRu04862224', 'shared_tap', Decimal('3996'), 2),
 ('KiHa22867224', 'shared_tap', Decimal('3996'), 2),
 ('AmAs10911224', 'shared_tap', Decimal('3996'), 2),
 ('HaRu19839224', 'shared_tap', Decimal('3994'), 3),
 ('KiZu31330224', 'shared_tap', Decimal('3994'), 3),
 ('KiRu28630224', 'shared_tap', Decimal('3992'), 4),
 ('KiZu31415224', 'shared_tap', Decimal('3992'), 4),
 ('SoRu38511224', 'shared_tap', Decimal('3990'), 5)]

## Analysing queues
Ok, this is the really big, and last table we'll look at this time. The analysis is going to be a bit tough, but the results will be worth it, so stretch out,
grab a drink, and let's go!

Analysing queues
Ok, this is the really big, and last table we'll look at this time. The analysis is going to be a bit tough, but the results will be worth it, so stretch out,
grab a drink, and let's go!

So, look at the information we have available, and think of what we could learn from it. Remember we can use some DateTime functions here to get
some deeper insight into the water queueing situation in Maji Ndogo, like which day of the week it was, and what time.

Ok, these are some of the things I think are worth looking at:
1. How long did the survey take?
2. What is the average total queue time for water?
3. What is the average queue time on different days?
4. How can we communicate this information efficiently?

Question 1:
To calculate how long the survey took, we need to get the first and last dates (which functions can find the largest/smallest value), and subtract
them. Remember with DateTime data, we can't just subtract the values. We have to use a function to get the difference in days.

In [44]:
%%sql
SELECT
    DATEDIFF(MAX(time_of_record), MIN(time_of_record)) AS survey_duration
FROM
    visits;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
1 rows affected.

[(924,)]

Question 2:
Let's see how long people have to queue on average in Maji Ndogo. Keep in mind that many sources like taps_in_home have no queues. These
are just recorded as 0 in the time_in_queue column, so when we calculate averages, we need to exclude those rows. Try using NULLIF() do to
this.

In [45]:
%%sql

SELECT
    AVG(NULLIF(time_in_queue, 0)) AS average_queue_time
FROM
    visits;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
1 rows affected.

[(Decimal('123.2574'),)]

Question 3:
So let's look at the queue times aggregated across the different days of the week.

In [50]:
%%sql
SELECT
    DAYNAME(time_of_record) AS day_name,
    ROUND(AVG(NULLIF(time_in_queue, 0))) AS avg_time_queue
FROM 
    visits
GROUP BY day_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
7 rows affected.

[('Friday', Decimal('120')),
 ('Saturday', Decimal('246')),
 ('Sunday', Decimal('82')),
 ('Monday', Decimal('137')),
 ('Tuesday', Decimal('108')),
 ('Wednesday', Decimal('97')),
 ('Thursday', Decimal('105'))]

Question 4:
We can also look at what time during the day people collect water. Try to order the results in a meaningful way.

In [55]:
%%sql
SELECT
    TIME_FORMAT(TIME(time_of_record), '%H:00') AS hour_of_day,
    ROUND(AVG(NULLIF(time_in_queue, 0))) AS avg_time_queue
FROM
    visits
GROUP BY
    hour_of_day;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
14 rows affected.

[('09:00', Decimal('118')),
 ('10:00', Decimal('114')),
 ('11:00', Decimal('111')),
 ('12:00', Decimal('112')),
 ('13:00', Decimal('115')),
 ('14:00', Decimal('114')),
 ('15:00', Decimal('114')),
 ('16:00', Decimal('114')),
 ('07:00', Decimal('149')),
 ('18:00', Decimal('147')),
 ('08:00', Decimal('149')),
 ('17:00', Decimal('149')),
 ('06:00', Decimal('149')),
 ('19:00', Decimal('168'))]