In [5]:
%load_ext sql

In [7]:
from dotenv import load_dotenv
import os

load_dotenv()

user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PASSWORD")
host = os.getenv("MYSQL_HOST")
port = os.getenv("MYSQL_PORT")
db = os.getenv("MYSQL_DB")

connection_str = f"mysql+pymysql://{user}:{password}@{host}:{port}/{db}"

%sql $connection_str

## 1. Scenario Q1
### Analysis of most active users
You are a Data Analyst at Twitter and are tasked with analysing user engagement. You
need to find out which users have the highest engagement on the platform. For this
analysis, consider a user to be engaged if they have sent messages, liked tweets,
been mentioned, received notifications, and retweeted tweets

In [14]:
%%sql
SELECT
    u.UserID, u.Username, u.FullName,
    COUNT(m.SenderID) AS total_messages_sent,
    COUNT(l.LikeID) AS total_liked_tweets,
    COUNT(men.MentionedUserID) AS total_mentions,
    COUNT(n.NotificationID) AS total_notifications_received,
    COUNT(r.RetweetID) AS total_retweets
FROM
    users u
INNER JOIN directmessages m
ON u.UserID = m.SenderID
INNER JOIN likes l
ON u.UserID = l.LikeID
INNER JOIN mentions men
ON u.UserID = men.MentionedUserID
INNER JOIN notifications n
ON u.UserID = n.NotificationID
INNER JOIN retweets r
ON u.UserID = r.RetweetID
GROUP BY
    u.UserID
ORDER BY
    total_messages_sent DESC, total_liked_tweets DESC,
    total_mentions DESC, total_notifications_received DESC,
    total_retweets DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/twitterdb
5 rows affected.

[(397.0, 'joseph47', 'Douglas Nichols', 15, 15, 15, 15, 15),
 (258.0, 'christopher66', 'James Gomez', 9, 9, 9, 9, 9),
 (461.0, 'gkelly', 'Jeffrey Meadows', 8, 8, 8, 8, 8),
 (268.0, 'rachelflores', 'Michelle Myers MD', 8, 8, 8, 8, 8),
 (300.0, 'michael20', 'Penny Curtis', 8, 8, 8, 8, 8)]