In [5]:
%load_ext sql

In [7]:
from dotenv import load_dotenv
import os

load_dotenv()

user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PASSWORD")
host = os.getenv("MYSQL_HOST")
port = os.getenv("MYSQL_PORT")
db = os.getenv("MYSQL_DB")

connection_str = f"mysql+pymysql://{user}:{password}@{host}:{port}/{db}"

%sql $connection_str

## 1. Scenario Q1
### Analysis of most active users
You are a Data Analyst at Twitter and are tasked with analysing user engagement. You
need to find out which users have the highest engagement on the platform. For this
analysis, consider a user to be engaged if they have sent messages, liked tweets,
been mentioned, received notifications, and retweeted tweets

In [20]:
%%sql
SELECT
    u.UserID, u.Username, u.FullName,
    COUNT(m.SenderID) AS total_messages_sent,
    COUNT(l.LikeID) AS total_liked_tweets,
    COUNT(men.MentionedUserID) AS total_mentions,
    COUNT(n.NotificationID) AS total_notifications_received,
    COUNT(r.RetweetID) AS total_retweets,
    (
        COUNT(m.SenderID) +
        COUNT(l.LikeID) +
        COUNT(men.MentionedUserID) +
        COUNT(n.NotificationID) +
        COUNT(r.RetweetID)
    ) AS total_engagements
FROM
    users u
INNER JOIN directmessages m
ON u.UserID = m.SenderID
INNER JOIN likes l
ON u.UserID = l.LikeID
INNER JOIN mentions men
ON u.UserID = men.MentionedUserID
INNER JOIN notifications n
ON u.UserID = n.NotificationID
INNER JOIN retweets r
ON u.UserID = r.RetweetID
GROUP BY
    (u.UserID)
ORDER BY
    total_messages_sent DESC, total_liked_tweets DESC,
    total_mentions DESC, total_notifications_received DESC,
    total_retweets DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/twitterdb
5 rows affected.

[(397.0, 'joseph47', 'Douglas Nichols', 15, 15, 15, 15, 15, 75),
 (258.0, 'christopher66', 'James Gomez', 9, 9, 9, 9, 9, 45),
 (461.0, 'gkelly', 'Jeffrey Meadows', 8, 8, 8, 8, 8, 40),
 (268.0, 'rachelflores', 'Michelle Myers MD', 8, 8, 8, 8, 8, 40),
 (300.0, 'michael20', 'Penny Curtis', 8, 8, 8, 8, 8, 40)]

## 2. Scenario Q2
### Find Users with Most Followers
Retrieve the top 5 users with the most followers, including their UserID, Username,
FullName, and FollowerCount

In [26]:
%%sql

SELECT
    u.UserID, u.Username, u.FullName,
    COUNT(f.FollowerUserID) AS FollowerCount
FROM
    users u
INNER JOIN followers f
ON u.UserID = f.FollowerUserID
GROUP BY
    u.UserID
ORDER BY
    FollowerCount DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/twitterdb
5 rows affected.

[(309.0, 'hollandjoshua', 'Angel Moreno', 4),
 (335.0, 'trivas', 'Stacey Brown MD', 4),
 (153.0, 'kanerussell', 'Kristen Wade', 4),
 (95.0, 'ryanadams', 'Christopher Williams', 4),
 (363.0, 'evansimmons', 'Brandon Mosley', 4)]

## 3. Scenario Q3
### Identify Users with Unread Notifications
Identify all users who have unread notifications. Display their UserID, Username,
FullName, and the count of UnreadNotifications.

In [29]:
%%sql

SELECT
    u.UserID, u.Username, u.FullName,
    COUNT(n.IsRead) AS total_unread_notifications
FROM
    users u
INNER JOIN notifications n
ON u.UserID = n.UserID
WHERE
    n.IsRead = 0
GROUP BY
    u.UserID
ORDER BY
    total_unread_notifications DESC;

 * mysql+pymysql://root:***@localhost:3306/twitterdb
189 rows affected.

[(80.0, 'tayloralexis', 'Lisa Davis', 3),
 (353.0, 'hickmancarrie', 'Tina Lopez', 3),
 (369.0, 'rlynch', 'Tyler Wilkerson', 3),
 (8.0, 'katherinerogers', 'Stacy Chan', 3),
 (317.0, 'cmiller', 'Sarah Henderson', 3),
 (426.0, 'lwilliams', 'Savannah Noble', 3),
 (466.0, 'tmccarty', 'Laura Nguyen', 3),
 (424.0, 'elopez', 'Duane Everett', 3),
 (40.0, 'thomasjeffery', 'Bradley Berg', 2),
 (408.0, 'wdavidson', 'Amber Newman', 2),
 (292.0, 'browncynthia', 'Charles Taylor', 2),
 (202.0, 'stewartmaria', 'Chelsea Rogers', 2),
 (7.0, 'jasmineberry', 'Mark James', 2),
 (338.0, 'donnapotter', 'Mrs. Holly Barnes', 2),
 (173.0, 'vicki07', 'Donald Lara', 2),
 (249.0, 'ojones', 'Dana George', 2),
 (272.0, 'steven35', 'Samuel Tucker', 2),
 (63.0, 'laura32', 'Jennifer Liu', 2),
 (82.0, 'christielarson', 'Deanna Farmer', 2),
 (301.0, 'nathangriffin', 'Amber Jacobs', 2),
 (417.0, 'heather32', 'Lorraine Webb', 2),
 (117.0, 'mcdowellandrew', 'Donald Collier', 2),
 (79.0, 'parkerjamie', 'Rhonda Phillips', 2),
 (285.0, 'mary06', 'Shannon Farrell', 2),
 (33.0, 'tamara12', 'Courtney Snyder', 2),
 (500.0, 'connieberry', 'Teresa Jackson', 2),
 (458.0, 'galvanbarbara', 'Mia Welch', 2),
 (223.0, 'margaret99', 'George Curry', 2),
 (3.0, 'charlesjohnson', 'Maria Mckay', 2),
 (336.0, 'mcdanielraymond', 'Geoffrey Spencer', 2),
 (48.0, 'smithalexis', 'Christina Powell', 2),
 (273.0, 'alice42', 'Ross Underwood', 2),
 (416.0, 'christopherpatterson', 'Ruben Harris', 2),
 (118.0, 'janderson', 'Vanessa Benjamin', 2),
 (46.0, 'sean36', 'Charles Robinson', 2),
 (389.0, 'christina53', 'Patrick Coleman', 2),
 (352.0, 'jillian46', 'Amy Lee', 2),
 (229.0, 'taylorlawrence', 'Linda Bryant', 2),
 (331.0, 'agreen', 'Olivia Garner', 2),
 (412.0, 'gregorychristine', 'Ross Meadows', 2),
 (379.0, 'normanstephanie', 'Randy Ross', 2),
 (205.0, 'griffinjames', 'Cody Chavez', 2),
 (31.0, 'cgardner', 'Jessica Hansen', 2),
 (16.0, 'david76', 'Brandi Quinn', 2),
 (138.0, 'kwilliams', 'Julie Garcia', 2),
 (119.0, 'michaelamartinez', 'Kelly Rich', 1),
 (84.0, 'adamblake', 'Bryan Rogers', 1),
 (351.0, 'gregorybrendan', 'Jessica James', 1),
 (387.0, 'conwayalex', 'Melvin Smith', 1),
 (34.0, 'rogerskaren', 'Sara Norman', 1),
 (160.0, 'ohernandez', 'Chris Little MD', 1),
 (169.0, 'tknight', 'Scott Ferguson', 1),
 (422.0, 'floydcindy', 'Ashley Juarez', 1),
 (441.0, 'chad61', 'Mark Robbins', 1),
 (65.0, 'wfaulkner', 'Teresa Shaw', 1),
 (78.0, 'yflores', 'Denise Case', 1),
 (372.0, 'nortiz', 'James Hernandez', 1),
 (463.0, 'rileyvalerie', 'Linda Lewis', 1),
 (97.0, 'xtorres', 'Jillian Lane', 1),
 (149.0, 'brandi33', 'Steven Vazquez', 1),
 (298.0, 'xwilliams', 'Nicholas Garner', 1),
 (384.0, 'warnerchristopher', 'Brandon Fox', 1),
 (373.0, 'annagonzalez', 'Caitlin Johnson', 1),
 (180.0, 'powellcarrie', 'Richard Duran', 1),
 (452.0, 'jacqueline60', 'Corey Burton', 1),
 (435.0, 'campbelldebbie', 'Vanessa Morrison', 1),
 (406.0, 'dylanharper', 'Timothy Mays', 1),
 (220.0, 'crystal20', 'Julie Porter', 1),
 (10.0, 'davisgina', 'Teresa Carr', 1),
 (323.0, 'martinezjennifer', 'Rachel Willis', 1),
 (434.0, 'ksmith', 'Robert Brown', 1),
 (104.0, 'scott82', 'Anthony Burns', 1),
 (354.0, 'emilymiles', 'Robert Brown', 1),
 (214.0, 'michael59', 'Andrew Glass', 1),
 (238.0, 'davidallen', 'Lindsay Mendez', 1),
 (197.0, 'jennifer82', 'Paul Kemp', 1),
 (474.0, 'fryan', 'Thomas Steele', 1),
 (25.0, 'andersonrichard', 'Pamela Johnson', 1),
 (419.0, 'colleen10', 'Troy Fitzgerald', 1),
 (306.0, 'cknapp', 'Kristin Luna', 1),
 (400.0, 'kfreeman', 'Mrs. Ashley Rodriguez', 1),
 (228.0, 'youngwilliam', 'Anthony James', 1),
 (107.0, 'zmason', 'Margaret Wallace', 1),
 (433.0, 'dwhite', 'Jennifer Larson', 1),
 (311.0, 'millerrichard', 'Suzanne Watson', 1),
 (305.0, 'jason06', 'Dennis Davis', 1),
 (11.0, 'tashley', 'Nicole Davis', 1),
 (102.0, 'turnerjames', 'Michael Bradshaw', 1),
 (37.0, 'burkelogan', 'Heather Williams', 1),
 (200.0, 'frankdaniel', 'Robert Moreno', 1),
 (194.0, 'mckeedavid', 'Marcus Brown', 1),
 (9.0, 'jordansusan', 'William Edwards', 1),
 (86.0, 'owensshannon', 'Jamie Smith', 1),
 (360.0, 'riveracolleen', 'Andrew Green', 1),
 (345.0, 'brandonjackson', 'Alexander Rollins', 1),
 (438.0, 'fmitchell', 'Michael Walker', 1),
 (17.0, 'meghan35', 'Megan Perez', 1),
 (213.0, 'qcarter', 'Brian Rubio', 1),
 (246.0, 'dbaker', 'Ryan Jackson', 1),
 (490.0, 'robert62', 'Barbara Brown', 1),
 (374.0, 'rolsen', 'Kimberly Williams', 1),
 (154.0, 'williambeck', 'Brittany Camacho', 1),
 (339.0, 'kimberly29', 'Cody Blankenship', 1),
 (170.0, 'milesamanda', 'Steven Ray', 1),
 (454.0, 'lpineda', 'Dana Buckley', 1),
 (313.0, 'scott99', 'Rebecca Dougherty', 1),
 (132.0, 'qparks', 'Barbara Rogers', 1),
 (47.0, 'hamiltonkarla', 'Travis Gallegos', 1),
 (444.0, 'jhall', 'Allison Harris', 1),
 (460.0, 'andrewsanchez', 'Brian Garza', 1),
 (425.0, 'dwong', 'Holly Larson', 1),
 (394.0, 'theodorebarnes', 'Kelly Jackson', 1),
 (281.0, 'brittneylam', 'Randall Vaughan', 1),
 (239.0, 'susantaylor', 'Rachel Chan', 1),
 (340.0, 'fisherjason', 'Amber Alexander', 1),
 (159.0, 'wcurry', 'Hector White', 1),
 (356.0, 'briggsbradley', 'Cynthia Brown', 1),
 (152.0, 'matthew81', 'Brett Morales', 1),
 (106.0, 'mmonroe', 'Gregory Jordan', 1),
 (192.0, 'woodalicia', 'Eric Garcia', 1),
 (496.0, 'nwagner', 'Brianna Miller', 1),
 (310.0, 'morrisonmelissa', 'Judy Wilson', 1),
 (282.0, 'llee', 'Kimberly Burton', 1),
 (410.0, 'robert16', 'Travis Ballard', 1),
 (217.0, 'xporter', 'Nicole Ryan', 1),
 (144.0, 'nicole76', 'Danielle Ingram', 1),
 (380.0, 'austin82', 'Thomas Hunter', 1),
 (67.0, 'smithlaura', 'Adam Phillips', 1),
 (477.0, 'leestein', 'Jeffrey Williams', 1),
 (224.0, 'kristiperry', 'Alyssa Petersen', 1),
 (158.0, 'erika23', 'Kristine Wheeler', 1),
 (440.0, 'collinsmatthew', 'Rebecca Powell', 1),
 (77.0, 'joshuabrady', 'Whitney Maddox', 1),
 (392.0, 'katrinareed', 'Kimberly Chase', 1),
 (261.0, 'nicholaschase', 'Veronica Hopkins', 1),
 (55.0, 'shermanmatthew', 'Travis Walker', 1),
 (291.0, 'garyowens', 'Carol Beck', 1),
 (235.0, 'alexandermiller', 'Tamara Montoya', 1),
 (471.0, 'bridget38', 'Robert Cook', 1),
 (367.0, 'suzanne57', 'Melissa Turner', 1),
 (398.0, 'brianaryan', 'Jon Russell', 1),
 (19.0, 'trevorstewart', 'Brandy Hall', 1),
 (92.0, 'maldonadoanthony', 'Gregory Cobb', 1),
 (207.0, 'melindahouston', 'James Weaver', 1),
 (437.0, 'lauramorgan', 'Aimee Hall', 1),
 (36.0, 'kyleholmes', 'Kerri Fernandez', 1),
 (204.0, 'tiffany34', 'Derrick Henderson MD', 1),
 (381.0, 'jamesrichards', 'Mr. Larry Oliver', 1),
 (495.0, 'jordan59', 'Hannah Rice', 1),
 (69.0, 'kimberlydennis', 'Heather Small', 1),
 (203.0, 'murraymichael', 'Mary Bullock', 1),
 (248.0, 'linda45', 'Monica Harper', 1),
 (304.0, 'philip33', 'Robert Hudson', 1),
 (76.0, 'orodriguez', 'David Meyer', 1),
 (234.0, 'gonzaleschristine', 'Tracy Vasquez', 1),
 (449.0, 'dennis52', 'Beth Preston', 1),
 (324.0, 'stephanie82', 'Tasha Campbell', 1),
 (486.0, 'carljohnson', 'Nathan Cortez', 1),
 (262.0, 'floresangela', 'Amber Lee', 1),
 (300.0, 'michael20', 'Penny Curtis', 1),
 (66.0, 'jeanshaw', 'Jennifer Garrett', 1),
 (376.0, 'levi67', 'Jody Benjamin', 1),
 (29.0, 'edwardhooper', 'David Franco', 1),
 (210.0, 'burnsphillip', 'Ethan Reyes', 1),
 (199.0, 'amber22', 'David Fields', 1),
 (344.0, 'donald92', 'Natasha Wilson', 1),
 (289.0, 'billparker', 'Joshua Wagner', 1),
 (230.0, 'andreclark', 'Austin Johnson', 1),
 (330.0, 'charleslane', 'John Ortega', 1),
 (211.0, 'brian24', 'Savannah Shaffer', 1),
 (328.0, 'tammy97', 'Tammy Mack', 1),
 (208.0, 'urobinson', 'April Sanchez', 1),
 (265.0, 'msmith', 'Brenda Fox', 1),
 (166.0, 'dylanlopez', 'James Pennington', 1),
 (446.0, 'tanyamurphy', 'Denise Gibson', 1),
 (450.0, 'afoster', 'Allison Baker', 1),
 (326.0, 'jordanphillip', 'Erin Harrison', 1),
 (286.0, 'danielwallace', 'Kathryn King', 1),
 (312.0, 'klinepenny', 'Mrs. Amber Santana', 1),
 (109.0, 'lauriewheeler', 'Jack Martin', 1),
 (110.0, 'victorburns', 'Terry Miranda', 1),
 (177.0, 'acostaalexis', 'Katelyn Johnson', 1),
 (6.0, 'fmckee', 'Michael Tran', 1),
 (71.0, 'uharrison', 'Erika Reyes', 1),
 (494.0, 'athompson', 'Julie Hudson', 1),
 (370.0, 'wbrown', 'Angela Carroll', 1),
 (461.0, 'gkelly', 'Jeffrey Meadows', 1),
 (361.0, 'gutierrezryan', 'Jennifer Fox', 1),
 (240.0, 'aprilmccoy', 'Kathleen Jenkins', 1)]